.client-set {
    display: flex;
    flex-wrap: wrap;
   gap: 30px;
    // justify-content: center;
}

.client{
  width: calc(50% - 15px);
   @media screen and (min-width:768px) {
    flex-basis: calc((100% - 60px)/3);
   }
    
}


.client-set__icon {
    width: 106px;
    height: 60px;

}


.client-set__item {

    display: block;
    object-position: center;
    width: 210px;
    padding: 16px 52px;
    box-sizing: border-box;
    border: 1px solid var(--border-line);
    border-radius: 4px;
    fill: var(--border-line);
    transition: border 250ms var(--cubik), fill 250ms var(--cubik);

}

// .client-set__item:hover,
// .client-set__item:focus {
//     border: 1px solid var(--accent-color);
//     fill: var(--accent-color);

// }