.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color);

    &__box{
        @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center; 
        }
   
    }

}


.logo-bottom {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    color: var(--accent-color);

          
                
}

.social-web {
    text-align: center;

    @media screen and (min-width:1200px) {
        text-align-last: left;
        margin-right: 93px;
    }
    
}
.adress {
    margin-bottom: 60px;
    text-align: center;

    @media screen and (min-width:768px) {
        margin-right: 165px;
        margin-bottom: 0;
    }

    @media screen and (min-width:1200px) {
        margin-right: 85px;
        margin-bottom: 0;
        text-align: left;
    }
}



.address__email {
    margin-top: 8px;
        
}
.social-web__title {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

    

.address__link {
    color: var(--primary-white-color);
    text-decoration: none;
    font-style: normal;
}

.address__link:hover,
.address__link:focus {
    color: var(--accent-color);
}

.contacts {
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    font-style: normal;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

