.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color);

    &__box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }

}

.web {
    // display: flex;
    align-items: center;
    text-align: center;
    @media screen and (min-width:768px) {
        max-width: 768px;
    }
}


// .social-web {
//     margin-left: 70px;
// }

.address__item {
    margin-top: 20px;
}

.address__email {
    margin-top: 8px;
    text-decoration: none;
}



.address__link {
    color: var(--primary-white-color);
    text-decoration: none;
    font-style: normal;
}

.address__link:hover,
.address__link:focus {
    color: var(--accent-color);
}

.contacts {
    color: var(--primary-text-color);
    text-decoration: none;
    font-style: normal;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

