.header {
    border-bottom: 1px var(--line-color) solid;

    &__label {
        display: flex;
    }

}

.logo {
    display: block;
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;

    &--black {
        color: var(--title-text-color)
    }

    &--white {
        color: var(--primary-white-color);
    }
}

.burger-menu {
  
    margin: 0;
    padding: 0;
    margin-left: auto;
    border: 0;
    background: none;
}
 .burger-menu__icon {
    display: block;
    width: 40px;
    height: 40px;
    fill: currentColor;
 }

 .menu-backdrop {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 48px 40px;
  width: 100%;
  height: 796px;
  background-color: red;

  &.is-open {
   display: block;
  }

    //     z-index: 10;
}

.menu-modal {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    height: 100%;
}
 .menu-modal__item {
    margin-top: 32px;
 }
.menu-modal__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: .02em;
    color: #212121;
    text-decoration: none;
}

.menu-modal__link--current {
    color: var(--accent-color);
}
// .first {
//     padding-top: 24px;
//     padding-bottom: 25px;

// }

.nav {

    display: none;
    // display: flex;
    // margin-left: 93px;

  

    &__flex {
     display: flex;
    //  align-items: center;
    position: relative;
    }

    
}

.nav__item {
    position: relative;
    margin-right: 50px;
    color: var(--title-text-color);
    
    &:last-child {
        margin-right: 0;
     }
}



.nav a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;


    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
}

.nav__link {

    margin-top: 0;
    margin-bottom: 0;
    color: var(--title-text-color);
    text-decoration: none;
    font-style: normal;

    &--current {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--accent-color);
    }

    &--current::after {
     content: "";
     display: block;
     width: 100%;
     height: 4px;
     left: 0;
     bottom: -1px;
     border-radius: 2px;
     background-color: var(--accent-color);
     position: absolute;
    }

}







