.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--background-color);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    text-align: center;
  
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero_mob.jpg);
   
    


    @media screen and (min-width:768px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url(../img/hero_tabl@2x.jpg);
    
    }

    @media screen and (min-width:1200px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url(../img/hero_desk.jpg);
    }
    

    &__title {
        margin-top: 0;
        margin-bottom: 30px;

        color: var(--primary-white-color);
        font-weight: 900;
        font-size: 26px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

       @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;
        }

    }
}

.name {
    display: none;
}
 




