.project {
    padding: 20px 24px;
    background-color: var(--primary-white-color);
}

.project__title {
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-decoration: none;
    letter-spacing: 0.06em;
}

.project__text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

